<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.example.spbatis.mapper">

	<select id="allCompUsers" resultType="com.example.spbatis.model.CompUsers">
		select * from comp_users
	</select>
<!-- 
	<select id="allAddress" resultType="com.edu.db.AddressDto">
		select * from addressbook
	</select>
	<select id="selectAddress" parameterType="Integer" resultType="com.edu.db.AddressDto">
		select NUM, NAME, ADDRESS, BIRTHDATE
		 from addressbook
		  where num=#{num}
	</select>
	<insert id="insertAddress" parameterType="com.edu.db.AddressDto">
		insert into
		addressbook(NAME, ADDRESS, BIRTHDATE)
		values
		(#{name},#{address},#{birthdate})
	</insert>
	<delete id="deleteAddress" parameterType="Integer">
		DELETE FROM AddressBook
		WHERE NUM = #{num}
	</delete>
	<update id="updateAddress" parameterType="com.edu.db.AddressDto" >
		update addressbook
		set birthdate = #{birthdate}, name = #{name}, address =#{address}
		where num = #{num}
	</update>
 -->
</mapper>